<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'contacts/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- template -->
    <!-- Team -->
<section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">Welcome to Contact</h5>
            <br>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
            {% if contact %}
            <div class="row">
                    {% for con in contact %}
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4" style="float: left;margin: 10px;max-width: 22.5rem;">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="{% static 'contacts/images/kakkassery_w.jpg' %}" alt="card image"></p>
                                        <h4 class="card-title">{{ con.Name }}</h4>
                                        <p class="card-text">{{con.Designation}}</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">{{ con.Name }}</h4>
                                        <p class="card-text">Qualification<br>{{con.Qualification}}</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <i class="far fa-envelope"></i>&nbsp;
                                                <a class="social-icon text-xs-center" target="_blank" href="mailto:{{ con.Email }}">
                                                    {{ con.Email }}
                                                </a>
                                            </li>
                                            <br>
                                            <li class="list-inline-item">
                                                    <i class="fas fa-phone-volume"></i> &nbsp;
                                                <a class="social-icon text-xs-center" target="_blank" href="tel:{{con.Phone_Number}}">
                                                    {{ con.Phone_Number }}
                                                </a>
                                            </li>
                                            <br>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                {% endfor %}
            </div>
            
        </div>
        {% else %}
            <p>No access records found!</p>
            {% endif %}
    </section>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- template end -->
    
    

</body>
</html>